*{
font-family: 'Poppins', sans-serif;
}
.h-font{
font-family: 'Merienda', cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] {

-moz-appearance: textfield;

}
.custom-bg{

background-color: red;
border: 1px solid yellow;
}
custom-bg:hover{
background-color: var(--teal_hover);
backgroun-color:var(--teal_hover);
}

  